* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
}

header {
  width: 100%;
  height: 154px;
  background-image: url(../images/mobile/back-wave.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#photo-upload {
  width: 63px;
  height: 63px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_photo {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Candara";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs_data {
  margin-bottom: 50px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.form_inputs-text {
  color: #390e84;
  font-size: 2rem;
  font-family: "Candara";
  font-weight: bold;
}

.form-inputs {
  border: 0px;
  border-bottom: 1px solid #c4c4c4;
  width: 80px;
  height: 20px;
  text-align: center;
}

#birth-input {
  width: 135px;
}

#birth-input::-webkit-calendar-picker-indicator {
  display: none;
}

.form-inputs::placeholder, #birth-input {
  color: #c4c4c4;
  font-size: 1.8rem;
  text-align: center;
}

.create-btn {
  width: 150px;
  height: 35px;
  display: flex;
  text-align: center;
  background-color: #ffffff;
  color: #7355a8;
  font-size: 2rem;
  font-family: "Candara";
  font-weight: bold;
  border: 1px solid #7e62af;
  border-radius: 10px;
  padding: 3px 0px 0px 40px;
  cursor: pointer;
  margin-bottom: 10px;
}

footer {
  display: flex;
  background-image: url(../images/mobile/bottom-lines.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 69px;
}
