/* основные стили */
* {
  margin: 0;
  padding: 0;
}

section,
div {
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* задаем контейнер */
.container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header {
  display: none;
  height: 64px;
  background: linear-gradient(to right, rgb(106, 83, 165), rgb(173, 129, 209));
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
.auth {
  min-height: 566px;
  background-image: url(../images/mobile/back-wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.logo-wrapper {
  margin: 68px 0 118px 0;
  width: 300px;
  height: 90px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.auth-motivation {
  display: none;
  font-size: 25px;
  letter-spacing: 1px;
  color: #390e84;
  font-family: "Candara";
  text-align: center;
}

.loginBtn:not(:last-child) {
  margin-bottom: 20px;
}

.loginBtn {
  display: block;
  width: 207px;
  height: 37px;
  border-radius: 19px;
  background-color: rgba(234, 231, 242, 0.5019607843137255);
  border: 1px solid #390e84;
  font-size: 18px;
  letter-spacing: 1px;
  color: #390e84;
  font-weight: bold;
  font-family: "Candara";
}

.loginBtn::first-letter,
.auth-motivation::first-letter {
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .auth {
    min-height: 1030px;
    background-image: url(../images/tablet/back-widewave.png);
  }
  .logo-wrapper {
    margin: 148px 0 90px 0;
    width: 590px;
    height: 185px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .auth-motivation {
    display: block;
    padding-bottom: 110px;
    font-size: 25px;
    letter-spacing: 1px;
    color: #390e84;
    font-family: "Candara";
    text-align: center;
  }
  .auth-buttons {
    padding-bottom: 0;
  }
  .loginBtn:not(:last-child) {
    margin-bottom: 30px;
  }
  .loginBtn {
    width: 366px;
    height: 65px;
    border-radius: 19px;
    background-color: rgba(234, 231, 242, 0.5019607843137255);
    border: 1px solid #390e84;
    font-size: 30px;
    letter-spacing: 1px;
    color: #390e84;
    font-weight: bold;
    font-family: "Candara";
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 1920px;
  }
  .auth {
    min-height: 1080px;
    background-image: url(../images/desktop/bottomwaves-desk.png);
  }
  .logo-wrapper {
    margin: 100px 0 60px 0;
    width: 1100px;
    height: 310px;
    background-image: url(../images/logo.svg);
  }
  /* .logo-wrapper img {
  } */
  .auth-motivation {
    display: block;
    padding-bottom: 220px;
    font-size: 50px;
    letter-spacing: 2px;
    color: #390e84;
    font-family: "Candara";
    text-align: center;
  }
  /* .auth-buttons {
    padding-bottom: 120px;
  } */
  /* .loginBtn:not(:last-child) {
    margin-bottom: 30px;
  } */
  .loginBtn {
    width: 483px;
    height: 86px;
    border-radius: 18px;
    background-color: #eae7f2;
    border: 1px solid #390e84;
    font-size: 45px;
    letter-spacing: 2px;
    color: #390e84;
    font-weight: bold;
    font-family: "Candara";
  }
}
