/* основные стили */
* {
  margin: 0;
  padding: 0;
}

section,
div {
  display: flex;
  flex-flow: column;
  align-items: center;
}
/* задаем контейнер */
.container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.header {
  display: none;
  height: 64px;
  background: linear-gradient(to right, rgb(106, 83, 165), rgb(173, 129, 209));
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
.auth {
  min-height: 566px;
  background-image: url(../images/mobile/back-wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
.logo-wrapper {
  padding: 60px 0 110px 0;
}
.logo-wrapper img{
  width: 260px;
}
.auth-buttons {
  padding-bottom: 214px;
}
.loginBtn:not(:last-child) {
  margin-bottom: 20px;
}

.loginBtn {
  display: block;
  /* margin: 20px auto; */
  width: 207px;
  height: 37px;
  border-radius: 19px;
  background-color: rgba(234, 231, 242, 0.5019607843137255);
  border: 1px solid #390e84;
  font-size: 18px;
  letter-spacing: 1px;
  color: #390e84;
  font-weight: bold;
  font-family: "Candara";
}

.loginBtn::first-letter {
  text-transform: capitalize;
}
